{
  "parser": "babel-eslint",
  "plugins": ["babel", "prettier", "jsx-a11y",  "react"],
  "extends": ["airbnb",  "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",

    "no-console": "error",
    "no-alert": "error"
  }
}