{
  "singleQuote": true,
  "printWidth": 80,
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [{
    "files": "*.styles.js",
    "options": {
      "trailingComma": "none"
    }
  }],
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid"
}